html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  background: #F0F0F0;
  color: #0003;
  display: grid;
  overflow: hidden;
  padding: 5px;
}

canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

header {
  margin: 2em;
}

h1 {
  margin-bottom: 0;
}

#count {
  color: #333;
  font-size: 80%;
  font-weight: bold;
}
